<div class="content" role="main">
  <h1>SertContract App</h1>
  <div class="mb-1">
    <div>
      <label for="deposit">Deposit, ETH: </label>
    </div>
    <div class="form-control">
      <input id="deposit" type="text" [formControl]="deposit">
      <button type="button" (click)="depositAction()">Deposit</button>
    </div>
  </div>
  <div class="mb-1">
    <div>
      <label for="withdraw">Withdraw, ETH: </label>
    </div>
    <div class="form-control">
      <input id="withdraw" type="text" [formControl]="withdraw">
      <button type="button" (click)="withdrawAction()">Withdraw</button>
    </div>
  </div>
  <div class="mb-1">
    <div>
      <label for="withdraw">Contract Name:</label>
    </div>
    <div class="form-control">
      <input id="contractName" type="text" [formControl]="contractName">
      <button type="button" (click)="setName()">Set</button>
    </div>
  </div>
  <div class="error mb-1" *ngIf="error" (click)="this.error = ''" title="Got it">{{ error }}</div>
  <div class="mb-1">
    <button className="btn-connect" (click)="checkIfWalletIsConnected()">
      {{ isWalletConnected ? "Wallet Connected 🔒" : "Connect Wallet 🔑" }}
    </button>
  </div>
  <hr>
  <div>
    <p *ngIf="sertName">Contract name: <b>{{ sertName }}</b></p>
    <p *ngIf="contractBalance">Contract balance: <b>{{ contractBalance }}</b></p>
    <p *ngIf="balance">Balance: <b>{{ balance }}</b></p>
    <p *ngIf="customerAddress">Wallet address: <b>{{ customerAddress }}</b></p>
    <p *ngIf="contractAddress">Contract address: <b>{{ contractAddress }}</b></p>
  </div>
</div>